@model UserUpdateDTO
@inject UserEditService service
@{
    Model.RoleId = await service.GetRoleAsync(Model.Id);
}

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Edit user</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- profile -->
            <div class="col-12">
                <div class="profile__content">
                    <!-- profile user -->
                    <div class="profile__user">
                        <div class="profile__avatar">
                            <img src="~/manage/img/user.svg" alt="">
                        </div>
                        <!-- or red -->
                        <div class="profile__meta profile__meta--@(Model.IsBanned ? "red" : "green")">
                            <h3><span>(@(Model.IsBanned ? "Banned" : "Approved"))</span></h3>
                            <span>FlixTV ID: @(Model.Id.Substring(0, 5))</span>
                        </div>
                    </div>
                    <!-- end profile user -->
                    <!-- profile btns -->
                    <div class="profile__actions">
                        <a href="#modal-status3" class="profile__action profile__action--banned open-modal"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,13a1.49,1.49,0,0,0-1,2.61V17a1,1,0,0,0,2,0V15.61A1.49,1.49,0,0,0,12,13Zm5-4V7A5,5,0,0,0,7,7V9a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V12A3,3,0,0,0,17,9ZM9,7a3,3,0,0,1,6,0V9H9Zm9,12a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z" /></svg></a>
                        <a href="#modal-delete3" class="profile__action profile__action--delete open-modal"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18ZM20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Zm-3-1a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z" /></svg></a>
                    </div>
                    <!-- end profile btns -->
                </div>
            </div>
            <!-- end profile -->
            <!-- content tabs -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="col-12">
                        <div class="sign__wrap">
                            <div class="row">
                                <!-- details form -->
                                <div class="col-12 col-lg-12">
                                    <form class="sign__form sign__form--profile sign__form--first" method="post">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="sign__title">Profile details</h4>
                                            </div>
                                            <input hidden asp-for="@Model.Id" />
                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label asp-for="@Model.UserName"
                                                           class="sign__label" for="username">Login</label>
                                                    <input asp-for="@Model.UserName" id="username" type="text"
                                                           class="sign__input" placeholder="Username">
                                                    <span asp-validation-for="@Model.UserName"
                                                          style="color: darkred"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label class="sign__label" for="email">Email</label>
                                                    <input asp-for="@Model.Email" id="email" type="email"
                                                           class="sign__input" placeholder="Email">
                                                    <span asp-validation-for="@Model.Email"
                                                          style="color:darkred"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label asp-for="@Model.FirstName" class="sign__label" for="firstname">First name</label>
                                                    <input asp-for="@Model.FirstName" id="firstname" type="text"
                                                           class="sign__input" placeholder="Name">
                                                    <span asp-validation-for="@Model.FirstName"
                                                          style="color:darkred"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                                <div class="sign__group">
                                                    <label asp-for="@Model.LastName" class="sign__label" for="lastname">Last name</label>
                                                    <input asp-for="@Model.LastName" id="lastname" type="text"
                                                           class="sign__input" placeholder="Surname">
                                                    <span asp-validation-for="@Model.LastName"
                                                          style="color:darkred"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="sign__group">
                                                    <label class="sign__label" for="subscription">Role</label>
                                                    <select asp-for="@Model.RoleId" class="js-example-basic-single" id="subscription"
                                                            asp-items="@(new SelectList(ViewBag.Roles,"Id","Name"))">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-12 col-xl-3">
                                                <div class="sign__group sign__group--checkbox" style="
    padding: 38px 0 0 0;">
                                                    <input asp-for="@Model.IsPremium" type="checkbox">
                                                    <label asp-for="@Model.IsPremium">Premium</label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-12 col-xl-3">
                                                <div class="sign__group sign__group--checkbox" style="
    padding: 38px 0 0 0;">
                                                    <input asp-for="@Model.IsBanned" type="checkbox">
                                                    <label asp-for="@Model.IsBanned">Ban !</label>
                                                </div>
                                            </div>


                                            <div class="col-12">
                                                <button class="sign__btn" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- end details form -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end content tabs -->
        </div>
    </div>
</main>

